doctype html
html(lang='en')
  // view http://jade-lang.com/reference/ for more info
  head
    meta(charset='UTF-8')
    title Hello React!
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
    #main
    include jade/_scripts.jade
